<div class="container col-md-5">
    <h1>User-Login</h1>
    <form (ngSubmit)="userlogin()" >
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">ID</label>
            <input type="text" [(ngModel)]="user.UserId" class="form-control" id="UserId" name="UserId">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
          
    </form>
  <br>
    <button [routerLink]="['./register-user']" class="btn">je m'inscrit</button>
   </div>
